<app-navbar></app-navbar>

<div class="product-grid" *ngIf="products() && products().length > 0">
  <app-product-card
    *ngFor="let product of products()"
    [product]="product"
  ></app-product-card>
</div>

<div class="pagination-controls">
  <button
    class="outlined-button"
    (click)="goToPreviousPage()"
    [disabled]="currentPage() === 1"
  >
    Anterior
  </button>
  <span class="page-indicator"
    >Página {{ currentPage() }} de {{ totalPages() }}</span
  >
  <button
    class="outlined-button"
    (click)="goToNextPage()"
    [disabled]="currentPage() === totalPages()"
  >
    Siguiente
  </button>
</div>

<app-footer></app-footer>
