<div class="flex flex-col gap-8 max-w-7xl mx-auto">
  <div class="flex flex-col gap-1">
    <p
      class="text-text-light-primary dark:text-text-dark-primary text-3xl font-bold leading-tight"
    >
      Gestión de Usuarios
    </p>
  </div>

  <form
    [formGroup]="filterForm"
    class="grid grid-cols-1 md:grid-cols-3 gap-4 p-4 bg-card-light dark:bg-card-dark rounded-xl border border-border-light dark:border-border-dark shadow-sm"
  >
    <div class="md:col-span-2">
      <label
        for="filter-name"
        class="block text-sm font-medium text-text-light-secondary dark:text-text-dark-secondary mb-1"
      >
        Buscar por nombre, apellidos o email
      </label>
      <div class="relative">
        <div
          class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
        >
          >
        </div>
        <input
          type="search"
          id="filter-name"
          formControlName="search"
          placeholder="Ej: Juanpe..."
          class="w-full pl-10 pr-4 py-2 border border-border-light rounded-lg bg-background-light focus:outline-none focus:ring-2 focus:ring-primary"
        />
      </div>
    </div>
  </form>
  <div *ngIf="!isLoading; else loading" class="flex flex-col gap-4">
    <div
      class="w-full overflow-x-auto rounded-xl border border-border-light dark:border-border-dark bg-card-light dark:bg-card-dark shadow-sm"
    >
      <table class="w-full text-left min-w-[800px]">
        <thead class="border-b border-border-light dark:border-border-dark">
          <tr>
            <th
              class="p-4 text-sm font-semibold text-text-light-secondary dark:text-text-dark-secondary"
            >
              Avatar
            </th>
            <th
              class="p-4 text-sm font-semibold text-text-light-secondary dark:text-text-dark-secondary"
            >
              Usuario
            </th>
            <th
              class="p-4 text-sm font-semibold text-text-light-secondary dark:text-text-dark-secondary"
            >
              Rol
            </th>
            <th
              class="p-4 text-sm font-semibold text-text-light-secondary dark:text-text-dark-secondary"
            >
              Miembro desde
            </th>
            <th
              class="p-4 text-sm font-semibold text-text-light-secondary dark:text-text-dark-secondary"
            >
              Detalles
            </th>
            <th
              class="p-4 text-sm font-semibold text-text-light-secondary dark:text-text-dark-secondary"
            >
              Acciones
            </th>
          </tr>
        </thead>
        <tbody *ngIf="users$ | async as users">
          <tr *ngIf="users.length === 0">
            <td
              colspan="6"
              class="p-6 text-center text-text-light-secondary dark:text-text-dark-secondary"
            >
              No se encontraron usuarios.
            </td>
          </tr>
          <tr
            *ngFor="let user of users"
            class="border-b border-border-light dark:border-border-dark last:border-b-0 hover:bg-background-light dark:hover:bg-background-dark transition-colors"
          >
            <td class="p-4">
              <img
                [src]="
                  user.avatarUrl ||
                  'https://placehold.co/40x40/f97306/FFFFFF?text=' +
                    (user.username ? user.username.charAt(0) : 'U')
                "
                alt="Avatar de {{ user.username }}"
                class="w-10 h-10 object-cover rounded-full border-2 border-primary/50"
              />
            </td>

            <td
              class="p-4 text-sm text-text-light-primary dark:text-text-dark-primary"
            >
              <p class="font-medium">{{ user.username }}</p>
              <p class="text-xs text-text-light-secondary">
                {{ user.email }}
              </p>
            </td>

            <td class="p-4 text-sm">
              <span
                class="px-2 py-1 text-xs font-semibold rounded-full capitalize"
                [ngClass]="{
                  'bg-primary/20 text-primary dark:bg-primary/30 dark:text-orange-300':
                    user.role === 'admin',
                  'bg-gray-100 text-gray-700 dark:bg-gray-700 dark:text-gray-200':
                    user.role === 'client'
                }"
              >
                {{ user.role | titlecase }}
              </span>
            </td>

            <td
              class="p-4 text-sm text-text-light-secondary dark:text-text-dark-secondary"
            >
              {{ user.created_at | date : "dd/MM/yyyy" }}
            </td>

            <td class="p-4">
              <button
                (click)="onDetails(user.id)"
                class="text-sm font-medium text-blue-600 hover:underline"
              >
                Ver Detalles
              </button>
            </td>

            <td class="p-4">
              <button
                (click)="onDeleteUser(user.id, user.username)"
                [disabled]="user.id === currentAdminId"
                class="text-sm font-medium text-red-600 hover:underline disabled:opacity-50 disabled:cursor-not-allowed disabled:no-underline"
              >
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="w-full text-center p-10">
    <p class="text-text-light-secondary dark:text-text-dark-secondary">
      Cargando usuarios...
    </p>
  </div>
</ng-template>
